<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.Vynox" android:label="Vynox" android:icon="@drawable/ic_vynox" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".ui.MainActivity" android:exported="true" android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:mimeType="application/vnd.vynox.project"/></intent-filter>
        </activity>
        <service android:name=".render.ExportService" android:exported="false" android:foregroundServiceType="dataSync|mediaProcessing"/>
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
</manifest>
